<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "profile.jpeg" %>
  </div>

  <div id="content">
    <h1>It's Mr. Stick Figure</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Eligendi est et adipisci quibusdam deserunt reiciendis neque labore
      excepturi! Similique in, dolorum enim recusandae, non excepturi aliquid
      libero atque quis aspernatur.</p>
  </div>

</div>
